*
{
	font-family: verdana;
 
}
body
{
  padding: 0px;
  margin: 0px;
  background-color:#505050; 

}
table
{
	padding:none;
	border-collapse: collapse;
}
table td
{
	width: 25px;
	height: 25px;
	border:1px solid black;
	padding: 0px;
	margin: 0px;

}



.itext .label-float{
  position: relative;
  display: inline-block;
  padding-top: 13px;
}


.itext .label-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
 
  font-size: 16px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius:0;
  background-color: transparent;
  color: white;
}

.itext .label-float input:focus{
  border-bottom: 2px solid  rgb(0,100, 255);
}

.itext .label-float input::placeholder{
  color:transparent;
}

.itext .label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  color: white;
}

.itext .label-float input:focus + label,
.itext .label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  color: rgb(0,100,255);
}
.itext
{
  position: fixed;

  width: 50%;
  min-height:50%;
  padding: 25px;
  border-radius: 5px;
  background-color: #696969; 
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  left: 25%;
  top:10%;
}
.button
{
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background-color:  rgb(0,100,255);
  color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  cursor: pointer;
  transition: .4s;
  border:1px solid rgba(10,10,10,.25);
  

}
.button:hover
{
   background-color: #2F5FBA;
}
.colors td
{
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.ColorPalette
{
  background-color: #797E83;
  padding-left:25px;
  padding-right:25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  width: 50%;
  position: fixed;
  top:0%;
  left: 25%;


  
  
}
.color
{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(10,10,10,.25);
  cursor: grab;
  transition: .5s;
  margin: 5px;
}.color:hover
{
  box-shadow: 1px 1px 10px rgba(10,10,10,.30);
  border-radius: 12px;

}